* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
}


/* Flexbox */
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}



.img-overlay {
    transition: all 0.5s;
    position: fixed;
    object-fit: contain;
}

.zoom:hover, .zoomed:hover {
    cursor: pointer;
}