* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
}

header {
    background-color: #F69B37;
    padding: 0 1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

}


/* Flexbox */
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}




.no-decoration {
    list-style: none;
    text-decoration: none;
    color: inherit;
}



.img-overlay {
    transition: all 0.5s;
    position: fixed;
    object-fit: contain;
}

.zoom:hover, .zoomed:hover {
    cursor: pointer;
}