/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    min-width: fit-content;

    display: grid;
    grid-template-columns: 1fr min(1000px, 100vw) 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'header header header' 
                        'main main main' 
                        'footer footer footer';
}

main {
    min-height: calc(100vh - 125px);
    grid-area: main;
}

hr {
    border: 1px solid black;
}

h1 {
    font-size: 3rem;
}

a:hover {
    cursor: pointer;
}

table {
    border-spacing: 0;
}

img {
    object-fit: cover;
}

#burger-menu-label {
    display: none;
}

.main-margin {
    width: min(1000px, 100vw);
    margin: 0 auto;
}

.phone-only {
    display: none;
}

/* Header and Footer */
header {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    height: 125px;
    font-size: 24px;
    grid-area: header;
}

header ul {
    display: flex;
    gap: 3rem;
}

footer {
    font-size: 18px;
    box-shadow: 5px -3px 5px rgba(0, 0, 0, 0.15);
    padding-bottom: 10px;
    grid-area: footer;
}

header, footer {
    background-color: #F69B37;
}

header a:hover, header a:active {
    text-decoration: underline;
}

#footer-logo {
    height: 140px;
}

#footer-info {
    width: 100%;
    padding-top: 10px;
}

header a {
    transition: all 0.5s;
}



/* Blocks */
.block > p {
    justify-self: center;
    font-size: 16px;
}
.block {
    align-items: center;
}
.block > * {
    width: 475px;
}

.block > img {
    height: calc(2/3 * 475px);
    border-radius: 15px;
}


/* Flexbox */
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-reverse {
    display: flex   ;
    flex-direction: row-reverse;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.space-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 1rem;
}
.gap-50 {
    gap: 40px;
}
.gap-100 {
    gap: 100px;
}


/* Tools */
.center-text {
    text-align: center;
}
.no-decoration {
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.wrap-height {
    height: 100%;
}
.wrap-width {
    width: 100%;
}

.shadow {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15);
}

.hidden {
    display: none;
}


/* Margins and Paddings */
.margin-10 {
    margin: 10px;
}
.margin-10-y {
    margin: 10px 0;
}
.padding-50-0 {
    padding: 40px 0;
}
.padding-100-0 {
    padding: 100px 0;
}


/* Zoom functionality */
.img-overlay {
    transition: all 0.25s ease-in-out;
    position: fixed;
    object-fit: contain;
}

.zoom:hover, .zoomed:hover {
    cursor: pointer;
}


/* Masonry Grid */
.masonry-grid {
    column-count: 3;
    column-gap: 0;
}

.masonry-grid img {
    width: 100%;
    display: block;
}



/* Slideshow */
#slideshow-wrap {
    overflow: hidden;
    position: relative;
    height: calc(9 / 16* 1000px);
}

#slides-wrap {
    height: 100%;
    transition: all 1s;
    overflow: hidden;

    scroll-behavior: smooth;
}

#slideshow-wrap img {
    width: 1000px;
    height: 100%;
    object-fit: cover;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15);
}

#prevSlide, #nextSlide {
    position: absolute;
    top: 0;
    height: 100%;
    width: 150px;

    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.1);
    border: none;
    transition: all 0.5s;
    font-size: 64px;
}

@media (hover: hover) {
    #prevSlide:hover, #nextSlide:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
    }
}

#prevSlide {
    left: 0;
}
#nextSlide {
    right: 0;
}

#footer-info img {
    width: 60px;
}


@media screen and (max-width: 480px){
    #prevSlide, #nextSlide {
        background-color: rgba(255, 255, 255, 0.2);
        color: rgba(0, 0, 0, 0.7);
    }
    header {
        height: 80px;
        font-size: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    .padding-50-0 {
        padding: 25px 0;
    }

    .gap-50 {
        gap: 25px;
    }

    header ul {
        display: none;
    }

    #burger-menu-label {
        display: flex;
    }

    #slideshow-wrap img {
        width: 100vw;
    }


    footer {
        height: fit-content;
        font-size: 16px;
    }

    #footer-info img {
        width: 25%;
    }

    footer .gap-1 {
        gap: 0;
    }

    #footer-adress {
        margin: 0 10px;
    }


    #footer-logo {
        height: unset;
        width: 40%;
        margin: 10px;
        object-fit: contain;
        margin-top: auto;
    }

    #rights {
        font-size: 13px;
    }

    .main-margin, .main-for-aboutus, .main-for-menu {
        width: 100% !important;
        margin: 0 !important;
    }

    #burger-menu-checkbox:checked ~ ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #F69B37;

        font-size: 24px;
        gap: 0;
        z-index: 1;
    }

    #burger-menu-checkbox:checked ~ ul li a {
        display: block;
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid black;
    }

    #footer-info {
        flex-direction: column;
        font-size: 15px;
    }

    header label {
        padding: 20px;
    }

    .masonry-grid {
        column-count: 2;
    }


    .block > img {
        width: 80vw;
        height: calc(5/6 * 80vw);
    }

    .block > * {
        width: 85vw;
        font-size: 17px !important;
        text-align: center;
    }

    #slideshow-wrap {
        height: calc(9/16 * 100vw);
        width: 100vw;
    }

    #slides-wrap figure {
        width: 100vw;
    }

    #prevSlide, #nextSlide {
        font-size: 48px;
        width: 80px;
    }
    

    .block {
        flex-direction: column !important;
    }



    .main-for-aboutus, .main-for-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px 0 !important;
        gap: 25px;
    }

    .main-for-menu {
        gap: 0;
    }

    .h1-for-aboutus {
        padding: unset !important;
        justify-self: center;
        text-align: center;
    }

    #h2-for-aboutus {
        font-size: 18px !important;
        margin-bottom: -20px;
        width: 95vw;
    }

    #exceptional-p-for-aboutus {
        width: 95vw;
        margin-bottom: unset !important;
    }

    .class-for-aboutus-1, .class-for-aboutus-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    .class-for-aboutus-1 img, .class-for-aboutus-2 img {
        width: 85vw !important;
        height: calc(3/4 * 85vw) !important;
        border-radius: 10px !important;
        order: 1 !important;
    }

    .class-for-aboutus-1 article, .class-for-aboutus-2 article {
        width: 90vw !important;
        order: 2 !important;
    }

    video {
        width: 100vw !important;
        padding: unset !important;
    }

    br {
        display: none;
    }

    #ye-menu-foto {
        width: 100vw !important;
    }

    
    .class-for-menu {
        font-size: 15px !important;
        background-color: #F5F5F5;
    }

    .italicp-for-menu {
        font-size: unset !important;
    }

    .class-for-menu, .h1-for-menu {
        padding: 0 2% !important;
    }

    .phone-only {
        display: block !important;
    }

    .h1-for-menu {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .main-for-menu > h1.center-text{
        margin-bottom: 25px;
    }

    .p-for-menu {
        border-bottom: none !important;
    }

}



/* Codes for Menu webpage */
 .main-for-menu {
    margin: 0 auto;
    width: 1000px;
} 

#ye-menu-foto {
    width: 1000px;
}

.class-for-menu {
    flex-direction: column;
    font-size: 1.2vw;
    
}
 
.p-for-menu {
    margin-bottom: 1.7vw;
    border-bottom: 1px dotted black;
    
} 

.italicp-for-menu {
    font-style: italic;
    font-size: 1.35vw;
}

@media screen and (min-width: 768.1px) {
   

    #ye-menu-foto {
        width: 1000px;
        border-top: 1px solid black;
    }

    .class-for-menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: 1.2vw;
        background-color: #f5f5f5; 
        /* gap: 15px;  */
    }

    .class-for-menu article {
        width: 19vw;
    }

    .class-for-menu h2 {
        font-size: 1vw;
    }

    .italicp-for-menu {
        font-style: italic;
        font-size: 0.8vw;
    }

    /* p {
        padding: 5px;
    } */
    
    .p-for-menu {
        margin-bottom: 1vw;
        border-bottom: none;
        font-size: 1vw;
        
    }

    .h1-for-menu {
        padding-top: 1.5vw;
        font-size: 2vw;
    }

    /* #exceptional-h-for-menu {
        padding-top: 3vw;
    } */
    

  }





/* Codes for About-us webpage */

.h1-for-aboutus {
    align-items: center;
    padding-top: 0.8vw;
}

.class-for-aboutus-1 img, .class-for-aboutus-2 img {
    height: calc(475px * 2/3);
    width: 475px;
    border-radius: 15px;
}

.class-for-aboutus-1 img{
    order: 2;
   
}

.class-for-aboutus-1 {
    display: flex;
    flex-direction: column;
   
}

video {
    padding: 1vw 0vw;
    width: 100%;
}

#exceptional-p-for-aboutus {
    margin-bottom: 1.5vw;
}


@media screen and (min-width: 768.1px) { 

    .class-for-aboutus-1, .class-for-aboutus-2 {
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding-bottom: 3.4vw;
    
    }

    .class-for-aboutus-1 img{
        order: 1;
       
    }

    .class-for-aboutus-1 article{
        order: 2;
       
    }

    .class-for-aboutus-1 article , .class-for-aboutus-2 article {
        width: 475px;
        margin: auto ;  
    }

    #h2-for-aboutus {
        font-size: 20px;
        width: 1000px;
        
    }

    .class-for-aboutus-1 article p , .class-for-aboutus-2 article p {
        font-size: 16px;
    }

    /* #exceptional-p-for-aboutus {
        width: 59.2vw;
    } */


    /* styling for Reserving webpage*/
    .reserveren-p {
        /* width: 70vw; */
        font-size: 23px;
        width: 90%;
        margin: 0 auto;
    }

    #reserveren {
        /* margin: 0px 40px 0px 0px; */
        width: 780px;
        margin: 0 auto;
        padding: 20px 10px 0px 10px;
        font-size: 23px;
        background-color: #F69B37;
        /* border: 0.8px solid black; */
        border-radius: 8px;
    }

    #reservation-overview {
        width: 90%;
        margin: 0 auto;
        font-size: 20px;
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 10px;
    }

    #reservation-overview p {
        padding: 5px;
        
    }

    .reserveren-sec {
        display: flex;
        padding: 0px 0px 25px 0px;
        justify-content: space-between;
        width: 720px;
        margin: 0 auto;

    }

    .reserveren-sec input {
        width: 500px;
        height: 34px;
        
    }

    .reserveren-sec label {
        margin-right: 10px;
        width: 230px;
    }

    #date-time {
        display: flex;
        justify-content: space-between;
        width: 720px ;
        margin: 0 auto;
        padding: 0px 0px 20px 0px;

    }

    #date-time label, #aantalPersonenBox label {
        padding-right: 25px;
    }

    #date-time input {
        width: 175px;
        font-size: 18px;
        height: 29px;
    }

    #date-time select {
        width: 145px;
        font-size: 18px;
        height: 29px;
    }

    #aantalPersonenBox {
        width: 720px ;
        margin: 0 auto;
        padding: 0px 0px 20px 0px;
    }

    #aantalPersonenBox select {
        width: 85px;
        font-size: 18px;
        height: 29px;
    }

    #accepteerBox {
        width: 720px ;
        margin: 0 auto;
        padding: 30px 0px 23px 0px;
    }

    #accepteerBox input {
        height: 20px;
        width: 20px;
    }

    #accepteerBox input:hover {
        cursor: pointer;
    }

    #submit-knop-res {
        text-align: center;
        padding: 30px 0px 23px 0px;

    }

    #submit-knop-res input {
        width: 405px;
        height: 42px;
        font-size: 20px;
        background-color: white;
        border-radius: 8px;
        border-width: 0;
    }

    #submit-knop-res input:hover {
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15);
        background-color: #2B98DE;
        color: white;
        cursor: pointer;
    }

    .privacy {
        font-size: 20px;
        padding-left: 30px;
        width: 860px;
        margin: 0 auto;
    }

}


@media screen and (min-width: 481px) and (max-width: 768px) {

     /* Styling for Header and Footer */


    

     #header-img-sty {
        /* width: 44.55vw; */
        width: 342px;
        height: 125px;
        padding: 0vw 0vw 0vw 50px;
     }

     /* .no-decoration {
        padding: 0vw 0vw 0vw 0vw;
     } */

     #footer-right {
        display: block;
     }

     #footer-sty {
        padding: 0vw 4vw;
     }

     
    
    
    /* styling for Home Webpage */

     .tablet-only {
        display: none;
     }

     .tablet-home-main {
        margin: 0 auto;
        width: 900px;
     }

     #slideshow-wrap {
        /* margin: -6.6vw 12vw 0vw 12vw ; */
        width: 900px;
       
     }

     .home-img-txt {
        margin: 5px auto;
        width: 900px;
        gap: 40px;
     }

     .home-img-txt img{
        border-radius: 15px;
        width: 400px;
        height: calc(400px* 2/3);
     }

     .home-img-txt p {
        font-size: 16px;
        /* padding: 4px auto; */
     }



     /* styling for About Webpage */

     .main-for-aboutus {
        margin: 0 auto;
        width: 900px;
    }

    .h1-for-aboutus {
        display: none;
    }

    .main-for-aboutus video {
        margin: 0 auto;
        padding: 0 auto;
        width: 900px;
        
    }

    #h2-for-aboutus {
        font-size: 25px;
    }

    #exceptional-p-for-aboutus {
        font-size: 20px;
        margin-bottom: 5vw;
    }

    .class-for-aboutus-1, .class-for-aboutus-2 {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding-bottom: 3.4vw;
    
    }

    .class-for-aboutus-1 img{
        order: 1;
        width: 400px;
        height: calc(400px* 2/3);
       
    }

    .class-for-aboutus-2 img{
        width: 400px;
        height: calc(400px* 2/3);
       
    }

    .class-for-aboutus-1 article{
        order: 2;
       
    }

    .class-for-aboutus-1 article, .class-for-aboutus-2 article {
        width: 480px;
        height: 230px;
        padding-top: 2vw;   
    }

    .class-for-aboutus-1 article p, .class-for-aboutus-2 article p {
        font-size: 18px; 
    }

    .class-for-aboutus-1, .class-for-aboutus-2 {
        margin-top: 40px; 
    }



    /* Styling for Menu */
    .main-for-menu {
        margin: 0 auto;
        width: 768px;
    }

    .class-for-menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: 14px;
        background-color: #f5f5f5;
        gap: 10px; 
        /* border: solid black 1px;   */
        padding-top: 8px;
        margin-bottom: 15px;
    }

    #ye-menu-foto {
        margin: 5px auto;
        width: 768px;
    }

    .class-for-menu article {
        width: 768px;
        border: solid black 1px; 
    }

    .class-for-menu h2 {
        font-size: 17px;
        /* color: #F69B37; */
        border-bottom: solid black 1px;
    }

    .italicp-for-menu {
        font-style: italic;
        font-size: 2.3vw;
    }

    .h1-for-menu {
        padding-top: 25px; 
        padding-bottom: 10px;
        font-size: 28px;
    }

    .p-for-menu {
        border-bottom: none;
        font-weight: bold;
        /* color: #F69B37; */
        padding-top: 8px;
        text-align: center;
    }


    /* Styling for Gallery */

    .masonry-grid {
        margin: 0 auto;
        width: 768px;
    }

    .tab-gallerij {
        padding: 50px auto;
        margin-top: -35px;
        
    }











     /* styling for Reserving webpage*/
     .main-reserve {
        margin: 0 auto;
        width: 1000px;
    }

    .reserveren-p {
        /* width: 70vw; */
        font-size: 23px;
        width: 860px;
        margin: 0 auto;
    }

    #reserveren {
        /* margin: 0px 40px 0px 0px; */
        width: 780px;
        margin: 0 auto;
        padding: 20px 10px 0px 10px;
        font-size: 23px;
        background-color: #F69B37;
        /* border: 0.8px solid black; */
        border-radius: 10px;
    }

    #reservation-overview {
        width: 860px;
        margin: 0 auto;
        font-size: 20px;
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 10px;
    }

    #reservation-overview p {
        padding: 5px;
        
    }

    .reserveren-sec {
        display: flex;
        padding: 0px 0px 25px 0px;
        justify-content: space-between;
        width: 720px;
        margin: 0 auto;

    }

    .reserveren-sec input {
        width: 500px;
        height: 34px;
        
    }

    .reserveren-sec label {
        margin-right: 10px;
        width: 230px;
    }

    #date-time {
        display: flex;
        justify-content: space-between;
        width: 720px ;
        margin: 0 auto;
        padding: 0px 0px 20px 0px;

    }

    #date-time label, #aantalPersonenBox label {
        padding-right: 25px;
    }

    #date-time input {
        width: 165px;
        font-size: 18px;
        height: 29px;
    }

    #date-time select {
        width: 145px;
        font-size: 18px;
        height: 29px;
    }

    #aantalPersonenBox {
        width: 720px ;
        margin: 0 auto;
        padding: 0px 0px 20px 0px;
    }

    #aantalPersonenBox select {
        width: 85px;
        font-size: 18px;
        height: 29px;
    }

    #accepteerBox {
        width: 720px ;
        margin: 0 auto;
        padding: 30px 0px 23px 0px;
    }

    #accepteerBox input {
        height: 20px;
        width: 20px;
    }

    #accepteerBox input:hover {
        cursor: pointer;
    }

    #submit-knop-res {
        text-align: center;
        padding: 30px 0px 23px 0px;

    }

    #submit-knop-res input {
        width: 405px;
        height: 42px;
        font-size: 20px;
        background-color: white;
        border-radius: 8px;
        border-width: 0;
    }

    #submit-knop-res input:hover {
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15);
        background-color: #2B98DE;
        color: white;
        cursor: pointer;
    }

    .privacy {
        font-size: 20px;
        padding-left: 30px;
        width: 860px;
        margin: 0 auto;
    }



}


/* Styling for Reserving webpage

*/
@media screen and (max-width: 480px) {

    .reserveren-p, form#reserveren, #reservation-overview {
        width: 95vw;
        margin: 0 auto;
    }
    .reserveren-p {
        font-size: 20px;
        font-weight: 600;
    }
    form#reserveren {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        padding: 10px;
        border-radius: 10px;
        background-color: #F69B37;

        font-size: 22px;
    }

    form#reserveren section {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    #date-time {
        flex-direction: row !important;
        gap: 20px !important;
    }

    #date-time section {
        width: 47%;
    }

    #aantalPersonenBox {
        width: fit-content;
    }

    #aantalPersonenBox select {
        width: 100%;
    }

    #accepteerBox {
        flex-direction: row !important;
        font-size: 18px;   
        gap: 10px !important;
    }

    form#reserveren input[type="submit"] {
        height: 50px;
        background-color: white;
        border-radius: 30px;
        border-width: 0;
        font-size: 24px;
    }

    form#reserveren input, select {
        height: 40px;
        border-radius: 5px;
        border-width: 0;
        padding: 0 10px;

        font-size: 20px;
    }

    #accepteer {
        width: 40px !important;
        height: 40px !important;
        margin: auto 0 !important;
    }

    #accepteerBox label {
        flex: 1;
    }

    #reservation-overview {
        font-size: 20px;
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 10px;
    }

    .privacy {
        font-size: 20px;
        padding-left: 30px;

        width: 95vw;
    }

    #datum, #time { 
        font-size: 5vw !important;
    
    }
}


@media screen and (min-width: 768.1px) and (max-width: 1024px) {
    .tablet-only {
        display: block;
    }

    .phone-only {
        display: none;
    }

    nav {
        margin-right: 10px;
    }

    header ul {
        gap: 3vw;
        font-size: 3vw;
    }
}

